.paginado {
  margin-bottom: 53px;
  ul {
    border-radius: 0;
    margin: 0;
    li {
      display: inline-block;
      margin-left: 4px;
      a {
        margin-left: 0;
        color: #444;
        border: 0;
        background: #fff;
        font-family: "Oswald", sans-serif;
        padding: 6px 13px;
        -webkit-box-shadow: 0 0 2px 0 rgba(51, 51, 51, 0.08), 0 0 2px 0 rgba(51, 51, 51, 0.08);
        box-shadow: 0 0 2px 0 rgba(51, 51, 51, 0.08), 0 0 2px 0 rgba(51, 51, 51, 0.08);
        &:hover {
          background: #da521e;
          color: white;
        }
        &:last-child,
        &:first-child {
          border-radius: 0;
        }
      }
      &.active>a {
        background: #da521e;
        color: white;
      }
    }
  }
}